{% trans_default_domain 'FOSUserBundle' %}
<div class="well">
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
	
	<div class="form-group">
	{# Génération du label. #}
	  {{ form_label(form.username, "Pseudo") }}
	
	  {# Affichage des erreurs pour ce champ précis. #}
	  {{ form_errors(form.username) }}
	  {# Génération de l'input. #}
	  {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group">
	{# Génération du label. #}
	  {{ form_label(form.email, "Adresse E-mail") }}
	
	  {# Affichage des erreurs pour ce champ précis. #}
	  {{ form_errors(form.email) }}
	  {# Génération de l'input. #}
	  {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group">
	{# Génération du label. #}
	  {{ form_label(form.plainPassword.first, "Mot de passe") }}
	
	  {# Affichage des erreurs pour ce champ précis. #}
	  {{ form_errors(form.plainPassword.first) }}
	  {# Génération de l'input. #}
	  {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
	</div>
	
	<div class="form-group">
	  {# Génération de l'input. #}
	  {# Génération du label. #}
	  {{ form_label(form.plainPassword.second, "Retappez votre mot de passe") }}
	
	  {# Affichage des erreurs pour ce champ précis. #}
	  {{ form_errors(form.plainPassword.second) }}
	  {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
	</div>
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
</div>