<!DOCTYPE html>
<html lang="fr">
  <head>
  <link type="text/css" href="{{ asset('bundles/sfcespacecometchat/lib/cometchat/cometchatcss.php') }}" rel="stylesheet" charset="utf-8">
<script type="text/javascript" src="{{ asset('bundles/sfcespacecometchat/lib/cometchat/cometchatjs.php') }}" charset="utf-8"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ProjetChris{% endblock %}</title>

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
    {% endblock %}
    <style type="text/css"> 
   body{ 
      background-color:#9CF;
   	margin-top:50px;
   } 
   a{
	color:magenta;
   }
   </style>
  </head>

  <body>	 
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		  
		   <div class="navbar-brand">
			    Connecté en tant que <a href="{{ path('fos_user_profile_edit') }}">{{ app.user.username }}  </a>
			</div>
			<div class="navbar-form navbar-right">
				<a href="{{ path('fos_user_security_logout') }}"><div class="btn btn-xs btn-warning">Déconnexion</div></a>
			</div>
		</div>
	{% endif %}
		

    <div class="container-fluid theme-showcase" role="main">
      <div id="header" class="jumbotron">
        <h1>Project Christopher</h1>
        <p>Ce projet est un test réalisé par christopher Stahl pour décourvir Symfony 2 avec BOOTSTRAP <span style="font-size:1.8em"> 3 </span></p>
      </div>

      <div class="row">
        <div id="menu" class="col-sm-2 blog-sidebar">
          <h3><span class="glyphicon glyphicon-th-large"></span>Menu</h3>
          <ul class="nav nav-pills nav-stacked">
          	 {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          	 <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-user"></span> Connexion</a></li>
          	 <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-star"></span> Inscription</a></li>
          {% endif %}
            <li><a href="{{ path('chrisNewsAccueil') }}"><span class="glyphicon glyphicon-home"></span> Accueil du site</a></li>
            {% if is_granted('ROLE_AUTEUR') %}
            	<li><a href="{{ path('chrisNewsAjouter') }}"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter une news</a></li>
            {% endif %}
          </ul>
          
          {{ render(controller("chrisNewsBundle:News:menu", {'nombre': 5})) }}
        </div>
        <div id="content" class="col-sm-8 blog-main">
          {% block body %}
          {% endblock %}
        </div>
      </div>

      <hr>

      <footer>
        <p>The #9CF is the only limit © Christopher Stahl.</p>
      </footer>
    </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
  {% endblock %}

  </body>
</html>