{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    <div class="form-group">
	{# Génération du label. #}
	  {{ form_label(form.username, "Pseudo") }}
	
	  {# Affichage des erreurs pour ce champ précis. #}
	  {{ form_errors(form.username) }}
	  {# Génération de l'input. #}
	  {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group">
	{# Génération du label. #}
	  {{ form_label(form.email, "Adresse E-mail") }}
	
	  {# Affichage des erreurs pour ce champ précis. #}
	  {{ form_errors(form.email) }}
	  {# Génération de l'input. #}
	  {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group">
	{# Génération du label. #}
	  {{ form_label(form.current_password) }}
	
	  {# Affichage des erreurs pour ce champ précis. #}
	  {{ form_errors(form.current_password) }}
	  {# Génération de l'input. #}
	  {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
	</div>
	{{ form_rest(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>
