{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}
<div class="well">
	<form action="{{ path("fos_user_security_check") }}" method="post">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	    
		<div class="form-group">
	    <label for="username">{{ 'security.login.username'|trans }}</label>
	    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
	    </div>
	    
		<div class="form-group">
	    <label for="password">{{ 'security.login.password'|trans }}</label>
	    <input class="form-control" type="password" id="password" name="_password" required="required" />
	    </div>
	    
	    <div class="form-group">
	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
		</div>
		
	    <input class="btn btn-default btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
	</form>
</div>
{% endblock fos_user_content %}
