{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }} - News
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Partie relative aux news</h1>

  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block newsBody %}
  {% endblock %}

{% endblock %}