{% extends "chrisNewsBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}

{% block newsBody %}

  <h2>Liste des news</h2>

  <ul>
  {% for article in articles %}
    {# On inclut la vue à chaque itération dans la boucle #}
    {% include "chrisNewsBundle:News:article.html.twig" with {'accueil': true} %}
    <hr />
  {% else %}
    <p>Pas (encore !) d'articles</p>
  {% endfor %}
</ul>
 <ul>
  <div class="btn-group">
      {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
      {% for p in range(1, nombrePage) %}
        <a href="{{ path('chrisNewsAccueil', {'page': p}) }}"><div {% if p != page %}class="btn btn-default" {% else %} class="btn btn-primary"{% endif %}>
          {{ p }}
        </div></a>
      {% endfor %}
  </div>
 </ul>
{% endblock %}