{% extends "chrisNewsBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Ajouter un article
{% endblock %}

{% block newsBody %}

  <h2>Ajouter une news</h2>

  {% include "chrisNewsBundle:News:formulaire.html.twig" %}

  <p>
    <a href="{{ path('chrisNewsAccueil') }}" class="btn btn-default btn-success">
      Retour à l'accueil
    </a>
  </p>

{% endblock %}