{% set accueil = accueil|default(false) %}

<h2>
  {# Si on est sur la page d'accueil, on fait un lien vers l'article, sinon non #}
  {% if accueil %}
    <a href="{{ path('chrisNewsVoir', {'slug': article.slug} ) }}">{{ article.titre }}</a>
  {% else %}
    {{ article.titre }}
  {% endif %}
  {# On vérifie qu'une image est bien associée à l'article #}
  {% if article.image is not null %}
    <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}" class="img-thumbnail"/>
  {% endif %}
</h2>

<i>Le {{ article.date|date('d/m/Y') }}, par {{ article.auteur }}.</i>

{# On affiche les catégories éventuelles #}
{% if article.categories.count > 0 %}
  <div>
    <p class="text-danger bg-warning"><i>
      Catégories :
      {% for categorie in article.categories %}
        {{ categorie.nom }}{% if not loop.last %}, {% endif %}
      {% endfor %}
    </i></p>
  </div>
{% endif %}

<div class="well">
  {{ article.contenu }}
</div>