<div class="well">
  <form method="post" {{ form_enctype(form) }}>
	{# Les erreurs générales du formulaire. #}
	{{ form_errors(form) }}
	
	<div class="form-group">
	  {# Génération du label. #}
	  {{ form_label(form.titre, "Titre de l'article") }}
	
	  {# Affichage des erreurs pour ce champ précis. #}
	  {{ form_errors(form.titre) }}
	
	  {# Génération de l'input. #}
	  {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
	</div>
	
	{# Idem pour un autre champ. #}
	<div class="form-group">
	  {{ form_label(form.contenu, "Contenu de l'article") }}
	  {{ form_errors(form.contenu) }}
	  {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
	</div>
	
	  <div class="form-group">
           {{ form_label(form.image) }}
           {{ form_errors(form.image) }}
           {{ form_widget(form.image.file) }}
       </div>
      <div class="form-group">
	  {{ form_label(form.categories, "Catégories") }}
	  {{ form_errors(form.categories) }}
	  {{ form_widget(form.categories, {'attr': {'class': 'form-control'}}) }}
	</div> 
       
	{{ form_rest(form) }}
    <input type="submit" class="btn btn-primary" />
  </form>
</div>
