<ul>
<h5><span class="glyphicon glyphicon-fire"></span>Dernières NEWS</h5>
<ul class="nav nav-pills nav-stacked">
  {% for article in liste_articles %}
    <li><a href="{{ path('chrisNewsVoir', {'slug': article.slug}) }}"> <span class="glyphicon glyphicon-chevron-right"></span>{{ article.titre }}</a></li>
  {% endfor %}
</ul>
</ul>