{% extends "chrisNewsBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Modifier un article
{% endblock %}

{% block newsBody %}

  <h2>Modifier une news</h2>

  {% include "chrisNewsBundle:News:formulaire.html.twig" %}

  <p>
    Vous éditez un article déjà existant,
    ne le changez pas trop pour éviter
    aux membres de ne pas comprendre
    ce qu'il se passe.
  </p>

  <p>
    <a href="{{ path('chrisNewsVoir', {'slug': article.slug}) }}" class="btn btn-default btn-success">
      Retour à l'article
    </a>
  </p>

{% endblock %}