
{% extends "chrisNewsBundle::layout.html.twig" %}

{% block title %}
  Supprimer un article - {{ parent() }}
{% endblock %}

{% block newsBody %}

  <h2>Supprimer un article</h2>

  <p>
    Etes-vous certain de vouloir supprimer l'article "{{ article.titre }}" ?
  </p>

  {# On met l'id de l'article dans la route de l'action du formulaire #}
  <form action="{{ path('chrisNewsSupprimer', {'id': article.id}) }}" method="post">
    <a href="{{ path('chrisNewsVoir', {'slug': article.slug}) }}" class="btn btn-default btn-warning">
      Retour à la News
    </a>
    <input type="submit" value="Supprimer" class="btn btn-default btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}