{% extends "chrisNewsBundle::layout.html.twig" %}

{% block title %}
   {{ parent() }} - Lecture d'une news
{% endblock %}

{% block newsBody %}
<div class="row">
	<div class="col-sm-3">
	   {% if prevSlug %}
	   <a href="{{ path('chrisNewsVoir', {'slug': prevSlug}) }}" class="btn btn-default btn-success">
	   <span class="glyphicon glyphicon-chevron-left"></span>News précédente : {{ prevSlug }}
	   </a>
	   {% else  %}
	  Aucune news précédente
	  {% endif %}
	  
	  </div>
	  <div class="col-sm-3 col-md-offset-6">
	  {% if nextSlug %}
	  <a href="{{ path('chrisNewsVoir', {'slug': nextSlug}) }}" class="btn btn-default btn-success">
	  News suivante : {{ nextSlug }}
	  <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	   {% else  %}
	  Aucune news suivante
  	 {% endif %}
  	 </div>
  	 </div>
  {% include "chrisNewsBundle:News:article.html.twig" %}

  <p>
    <a href="{{ path('chrisNewsAccueil') }}" class="btn btn-default btn-success">
      Retour à la liste des News
    </a>
    {% if is_granted('ROLE_AUTEUR') %}
    <a href="{{ path('chrisNewsModifier', {'id': article.id}) }}" class="btn btn-default btn-warning">
      Modifier l'article
    </a>
    <a href="{{ path('chrisNewsSupprimer', {'id': article.id}) }}" class="btn btn-default btn-danger">
      Supprimer l'article
    </a>
    {% endif %}
  </p>

{% endblock %}